<div>
    <span [(ngModel)]="tab" *ngFor="let v of tab">
        {{v}}
    </span><br />
    <div>
        <button (click)="this.sort(tab)">Tri de base (insertion ?)</button>
        <button style="margin-left: 10px;" (click)="this.sortBubble(tab)">Tri à bulles</button>
        <button style="margin-left: 10px;" (click)="this.callSortFusion(tab)">Tri fusion</button>
        <button style="margin-left: 10px;" (click)="this.callSortQuick(tab)">Tri rapide</button>
    </div><br />
    <span>Temps pris pour trier : {{time}} ms</span>
</div>