<div>
    <button style="margin-left: 10px;" (click)="this.initTab()">Générer tableau</button>
    <button style="margin-left: 10px;" (click)="this.sort(tab)">Tri de base (insertion ?)</button>
    <button style="margin-left: 10px;" (click)="this.sortBubble(tab)">Tri à bulles</button>
    <button style="margin-left: 10px;" (click)="this.callSortFusion(tab)">Tri fusion</button>
    <button style="margin-left: 10px;" (click)="this.callSortQuick(tab)">Tri rapide</button>
    <br />
</div>
<br />
<div>
    <span *ngFor="let v of tab">
        <div class="rectangle" style="margin-top: 3px;" [ngStyle]="{'width.px': v*4}"></div>
    </span>
</div>